<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="finger">
    <xacro:macro name="finger" params="parent prefix joint_type">
        <link name="${prefix}_link" />

        <joint name="${prefix}_joint" type="${joint_type}">
            <parent link="${parent}" />
            <child link="${prefix}_link" />
        </joint>

    </xacro:macro>
</robot>